*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.app {
  padding: 2rem 5rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  @media screen and (max-width: 950px) {
    display: block;
  }
}

.content {
  width: 50%;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
